DATABASE_URL="postgresql://arewamart:arewamart@db:5432/arewamart?schema=public"
NEXT_PUBLIC_SITE_URL="http://localhost:3000"
NEXT_PUBLIC_WHATSAPP_NUMBER="2348000000000"
PAYSTACK_SECRET_KEY=""
PAYSTACK_PUBLIC_KEY=""
